<HTML>
    <HEAD>
        <TITLE>ABOUT</TITLE>
    </HEAD>
<BODY>
<B>Explain what Flask is and its benefits?</B><br>
<b>What is Flask?</b><br>

Flask is a web framework. Flask allows you to build a web application by providing tools, libraries, and technologies. This web application will be a web page, a wiki, or a big web-based calendar application or commercial website. Flask is classified into a micro-framework that means it has little to no dependencies on external libraries. There are some pros and cons. Pros mean there are little dependencies to upgrade and to watch security bugs and cons means by adding the plugin you will increase the dependencies. Flask has two dependencies, they are-

Werkzeug a WSGI utility library

Jinja2 is a template engine

Flask for Python based on Werkzeug, jinja2, and good intention.<br>

<b>werkzeug</b><br>

Werkzeug is a utility library used for Python programming language. And also it is a toolkit of WSGI (web server gateway interface). It has licensed under the BSD License. Werkzeug can registered software for the request, response and utility function. It can also build a software framework that can support Python 2.6, 2.7, and 3.3.

<br><b>Jinja2</b><br>

It is a template engine for the Python programming language and is licensed under BSD license. Using the template you can build the basic layout of your page and can mention which will be changed. In this way, you can change your header of the page by upgrading it in one place only.

<br><b>The benefit of the flask</b><br>

There are impressive features to use the flask in your web application framework. Like-

Integrated support for unit testing

Built-in development server and fast debugger

Restful request dispatching

Unicode base

Support for cookies

Templating jinja2

WSGI 1.0 compliant

Plus flask gives you some premier control to develop your project.

HTTP request handling function

Flask has a modular design and lightweight so that it can easy to transit into web framework with some extension

You can plug your favorite ORM

Basic fundamental API is nicely shaped and coherent

Highly flexible

It is easy to deploy the flask in production<br>

<b>Conclusion:</b><br>

Flask is the most policed and feature-rich micro framework. Flask comes with all its benefit of the fast template, strong WSGI features, and extensive documentation. Flask gives lots of good features, vast no of extension facility for a new project.
</BODY>
</HTML>