{% extends 'base.html' %}

{%  block head %} 
    <title>Sign Up | By Code Info</title>
    <link rel="stylesheet" href="style.css" />
    {% endblock %}
    {% block content %} 
    <a href="/">HOME</a>
<a href="/signup">signup Page</a>
<a href="/login">Login </a>
<a href="/reume">Resume</a>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>Sign Up for an job</h4>
      <form action = "/signup" method = "POST" 
         enctype = "multipart/form-data">
        <label>First Name</label>
        <input type="text" placeholder="Enter the First Name" name="fname"/>
        <label>Last Name</label>
        <input type="text" placeholder="Enter the Last Name" name="lname" />
        <label>Email</label>
        <input type="email" placeholder="Enter the E-mail ID"name="email" />
        <label>Password</label>
        <input type="password" placeholder="Enter the password" name="pass" />
        <label>Confirm Password</label>
        <input type="password" placeholder="Confim password" name="cp"/><br>
        <br>
       <center> <input type="button" value="Submit" /></form></center>
      <closeform></closeform></form>
      <p>
        By clicking the Sign Up button,you agree to our <br />
        <a href="#">Terms and Condition</a> and <a href="#">Policy Privacy</a>
      </p>
    </div>
    <p class="para-2">
      Already have an account? <a href="login.html">Login here</a>
    </p>
    {% endblock %}