

 {% extends 'base.html' %}

 {%  block head %} 
    <title>Login | By Code Info</title>
    <link rel="stylesheet" href="style.css" />
    {% endblock %}

  {% block content %}
    <a href="/">HOME</a>
    <div class="signup-box">
    <div class="login-box">
      <h1 id="login">Login</h1>
      <form class="form"  action = "/login" method = "POST" 
      enctype = "multipart/form-data">>
        <label>Email</label>
        <input class="in" type="email" placeholder="" name="email"/>
        <label>Password</label>
        <input class="in"  type="password" placeholder="" name="pass"/>
        <br>
        <br>
        <center><input class="in"  type="button" value="Submit" /></center>
      <closeform></closeform></form>
    </div>
    <p class="para-2">
      Not have an account? <a href="signup.html">Sign Up Here</a>
    </p>
    {% endblock %}
